<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>utrustpayments</name>
    <displayName><![CDATA[Utrust Payments]]></displayName>
    <version><![CDATA[2.0.0]]></version>
    <description><![CDATA[Pay with cryptocurrencies]]></description>
    <author><![CDATA[Utrust]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
</module>